* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

img {
  width: 300px;
  height: auto;
  border-radius: 20px;
}

.list_recipes {
    border-radius: 30px;
    background-color: rgb(102, 194, 102);
    padding: 3%;
    margin: 0;
    width: 100%;
}

.recipe {
    border: solid;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 15px;
}